<mat-sidenav-container fullscreen>
	<div>
		<mat-toolbar color="primary">
			<button mat-icon-button (click)="sidenav.toggle()">
				<mat-icon>&#9776;</mat-icon>
			</button>
		</mat-toolbar>

		<div class="app-content">
			<router-outlet></router-outlet>
		</div>
	</div>
</mat-sidenav-container>
